{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <form action="" method="get">
                <select class="form-control" name="month" id="month">
                    <option value="1">Janvier</option>
                    <option value="2">Février</option>
                    <option value="3">Mars</option>
                    <option value="4">Avril</option>
                    <option value="5">Mai</option>
                    <option value="6">Juin</option>
                    <option value="7">Juillet</option>
                    <option value="8">Août</option>
                    <option value="9">Septembre</option>
                    <option value="10">Octobre</option>
                    <option value="11">Novembre</option>
                    <option value="12">Décembre</option>
                </select>
                <select class="form-control" name="year" id="year">
                    <option value="2015" selected="true">2015</option>
{#                    <option value="2016">2016</option>#}
                </select>
                <input type="submit" class="form-control btn btn-lg btn-primary" value="Générer">
            </form>
        </div>
        <div class="col-md-4">
            <p>Au mois de {{ month }}/{{ year }} vous avez envoyé {{ count }} SMS</p>
        </div>
        <div class="col-md-4">
            <p>{{ count }} SMS envoyé = {{ saving }}XPF d'appels téléphoniques</p>
            <p>Ce mois-ci vous avez économisé {{ saving }}XPF</p>
        </div>
    </div>
{% endblock%}