{% extends 'base.html' %}
{% block content %}
    <div class="row" style="padding-top:20px;">
        <div class="col-md-6">
            <div class="alert alert-info" role="alert">Obtenez des rapports statistiques précis de vos campagnes et des volumes de SMS envoyés. Choisissez un mois et une année ci-dessous et cliquez sur le bouton "Générer"</div></div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="" method="get">
                <p>
                <select class="form-control" name="month" id="month">
                    <option value="1">Janvier</option>
                    <option value="2">Février</option>
                    <option value="3">Mars</option>
                    <option value="4">Avril</option>
                    <option value="5">Mai</option>
                    <option value="6">Juin</option>
                    <option value="7">Juillet</option>
                    <option value="8">Août</option>
                    <option value="9">Septembre</option>
                    <option value="10">Octobre</option>
                    <option value="11">Novembre</option>
                    <option value="12">Décembre</option>
                </select>
                </p>
                <p>
                <select class="form-control" name="year" id="year">
                    <option value="2015" selected="true">2015</option>
{#                    <option value="2016">2016</option>#}
                </select>
                </p>
                <p>
                <input type="submit" class="form-control btn btn-lg btn-primary" value="Générer">
                </p>
            </form>
        </div>
        <div class="col-md-6"></div>
    </div>
{% endblock%}