{% extends "base.html" %}

<!-- THIS IS FOR SUCCESS MESSAGES -->
{% if messages %}
<div class="alert alert-success">
	<div class="container">
    	{% for message in messages %}
    		{{ message }}
   		{% endfor %}
   	</div>
</div>
{% endif %}
<!-- END THIS IS FOR SUCCESS MESSAGES -->

{% block content %}
    <h3>Mes Contacts</h3>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th colspan="3">Liste des contacts</th>
        </tr>
        </thead>
        <tbody>
        {% for c in contacts_pag %}
            <tr>
                <td>{{ c.firstName }} {{ c.lastName }}</td>
                <td>{{ c.phoneNumber }}</td>
                <td><a href="/contacts/edit/{{c.phoneNumber}}" >Editer</a>/<a href="/contacts/delete/{{c.phoneNumber}}">Effacer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination_messages">
    <ul class="pagination ct-blue">
        {% if active > 0 %}
        <li><a href="/contacts/{{active|add:'-1'}}">&laquo;</a></li>
        {% endif %}
        {% for p in pages %}
            {% if active == p %}
                <li class="active"><a href="/contacts/{{p}}">{{p|add:"1"}}</a></li>
            {% else %}
                <li><a href="/contacts/{{p}}">{{p|add:"1"}}</a></li>
            {% endif %}
        {% endfor %}
        {% if active < pages|length|add:'-1' %}
        <li><a href="/contacts/{{active|add:'1'}}">&raquo;</a></li>
        {% endif %}

    </ul>
</div>
    <h3>Ajouter des contacts</h3>
     <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
    	<input type="submit" value="Ajouter Contact" class="btn btn-primary" />
    	<input type="reset"  value="Effacer" class="btn btn-danger" />
    </form>
    <br />
    <br />
    <h3>Groupes des contacts</h3>
    <table class="table table-bordered table-hover">
        <thead>
        	<tr>
           	 <th>Mes Groupes</th>
             <th>Membres</th>
             <th>Editer/Effacer</th>
        	</tr>
        </thead>
        <tbody>
        {% for cg in contact_group %}
            <tr>
                <td>{{ cg.groupName }}</td>
                    <td>{% for name in cg.contact.all %}{{name.firstName}} {{name.lastName}}, {% endfor %}</td>
                <td><a href="/contacts/edit-group/{{cg.id}}">Editer</a>/<a href="/contacts/group/delete/{{cg.id}}">Effacer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form method="POST" action="">
        {% csrf_token %}
        {{ groupForm.as_p }}
            <select id="multiselect-contacts" multiple="multiple" name="checks[]">
                {% for contact in contact_list %}
                    <option value="{{ contact.phoneNumber }}">{{ contact.firstname }} {{ contact.lastName }}</option>
                {% endfor %}
            </select>
        <br />
        <br />
        <input type="submit" value="Ajouter Groupe" class="btn btn-primary" />
        <input type="reset" value="Effacer" class="btn btn-danger" />
    </form>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#multiselect-contacts').multiselect({
                nonSelectedText: 'Add Contacts',
                disableIfEmpty: true,
                maxHeight: 200,
                enableCaseInsensitiveFiltering: true
            });
        });
    </script>
{% endblock %}
