<footer>
    <div class="row">
        <hr>
        <div class="col-lg-12">
            <p align="center">Copyright &copy; <a href="http://itievolution.com">itievolution</a> SMS 2015</p>
        </div>
    </div>
            
    {% load staticfiles %}
    <!-- jQuery -->
    <script src="{% static "/static/js/jquery.js" %}"></script>
    <script src="{% static "/static/js/custom.js" %}"></script>
    {#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>#}
    {#{% include 'autocomplete_light/static.html' %}#}
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "/static/js/bootstrap.min.js"%}"></script>
    <script src="{% static 'jQuery-Tags-Input-master/src/jquery.tagsinput.js' %}"></script>
    <!-- END MAIN FOOTER SCRIPTS -->
</footer>
