 <nav class="navbar navbar-default" role="navigation">

      <div class="container-fluid">

        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

            <span class="sr-only">Toggle navigation</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

          </button>

          <a class="navbar-brand" href="/send-sms/">itiSMS</a>

        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav">

            <li class="{{pg.0}}"><a href="/send-sms/">Envoyer</a></li>

            <li class="{{pg.1}}"><a href="/messages/0">Messages</a></li>
            
            <li class="{{pg.2}}"><a href="/contacts/0">Contacts</a></li>
            <li class="{{pg.3}}"><a href="/template/">Templates</a></li>

            <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>

              <ul class="dropdown-menu">

                <li><a href="https://www.facebook.com/pages/Tahiti-SMS/1802783093280903">Àpropos</a></li>

                <li class="divider"></li>

                <li><a href="/logout/?next=/">Déconnexion</a></li>

              </ul>

            </li>

          </ul>

        </div><!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->
</nav>
