{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h3>Envoyer des SMS</h3>
    <div class="col-xs-12 col-sm-6 col-lg-8">
        <form method="POST" action="">
            {% csrf_token %}
            <p>{{ form.phoneNumber.label }}</p>
            <div class="">
                <input type="text" class="form-control" id="id_phoneNumber" name="phoneNumber" placeholder="Entrez le numero de telephone ici ou selectionnez les contacts ci-dessous"><br />
                    <select class="form-control" id="contacts" multiple="multiple">
                        {% for c_obj in contact_list %}
                            <option value="{{ c_obj.phoneNumber }}">{{ c_obj.firstName }} {{ c_obj.lastName }}</option>
                        {% endfor %}
                    </select>
                    <select id="groups" size="2">
                        <label>Groups</label>
                        {% for g_obj in group_list %}
                            <option value="{{ g_obj.contact.all }}">{{ g_obj.groupName }}</option>
                        {% endfor %}
                    </select><br /><br/>
                <p>{{ form.message.label }}</p>
                <textarea type="text" class="form-control" id="id_message" name="message" rows="10" placeholder="Entrez le message ou choisissez un template"></textarea>
                <br />
                <div>
                <button class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">Templates<span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                        <label>Templates</label>
                        {% for template in template_list %}
                            <li role="presentation">
                                <a href="#"  onclick="addtemplate('{{template.msgText}}')"
                                value="{{template.msgText}}" >{{template.name}}</a>
                            </li>
                        {% endfor %}
                        <label>Creer un Nouveau</label>
                        <li role="presentation">
                            <a href="/template/" class="list-group-item">Creer un Template</a>
                        </li>
                    </ul>
                </div>
               </div>
            <br>
            {% for d_obj in device_obj %}
                {% if username == d_obj.user.username %}
                    <input type="hidden" name="deviceID" id="id_deviceID" value="{{ d_obj.deviceID }}">
                {% endif %}
            {% endfor %}
            <input type="submit" value="Envoyer" class="btn btn-primary">
            <input type="reset"  value="Effacer" class="btn btn-danger">
        </div>
        </form>
    <div class="col-xs-6 col-lg-4">
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#contacts').multiselect({
                nonSelectedText: 'Ajoutez Contact',
                disableIfEmpty: true,
                maxHeight: 200,
                buttonWidth: '220px',
                enableCaseInsensitiveFiltering: true
            });
            $('#groups').multiselect({
                nonSelectedText: 'Ajoutez Groupe',
                disableIfEmpty: true,
                maxHeight: 200
            });
            var clist = [];
            $("#contacts").change(function(e){
                var selected = $(e.target).val()
                if (selected == null){
                    $('#id_phoneNumber').removeTag(clist[0]);
                    list = [];
                }else {
                    for (var i = 0; i < clist.length; i++){
                        $('#id_phoneNumber').removeTag(clist[i]);
                    }
                    for (var i = 0; i < selected.length; i++){
                        $('#id_phoneNumber').addTag(selected[i])
                    }
                    clist = selected;
                }
            })
            var glist = [];
            $("#groups").change(function(e){
                var selected = $(e.target).val()
                selected = selected.split(', ')
                for (var i = 0; i < glist.length; i++){
                    $('#id_phoneNumber').removeTag(glist[i]);
                }
                glist = []
                for (var i = 0; i < selected.length; i++){
                    var num = parseInt(selected[i].split(' - ')[1]);
                    glist = glist.concat([num]);
                    $('#id_phoneNumber').addTag(num);
                }
            })
            $('#id_phoneNumber').tagsInput({
                'width': '400px',
                'height': '80px',
                'defaultText': ''
            });
        });
    </script>
{% endblock %}