{% extends "base.html" %}
{% block content %}
    <h3>Envoyer des SMS</h3>
    <div class="col-xs-12 col-sm-6 col-lg-8">
        <form method="POST" action="">
            {% csrf_token %}
            <p>{{ form.phoneNumber.label }}</p>
            <div class="input-group">
                <input type="text" class="form-control" id="id_phoneNumber" name="phoneNumber">
                <div class="input-group-btn">
                    <button class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Contacts
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenu1">
                        {% for contact in contact_list %}
                            <li role="presentation">
                                <a href="#" class="list-group-item" onclick="addcontact({{contact.phoneNumber}})"
                                value="{{contact.phoneNumber}}" >{{contact.firstName}} {{contact.lastName}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="input-group-btn">
                    <button class="btn btn-default dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">
                    Groupes
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenu3">
                        {% for group in group_list %}
                            <li role="presentation">
                                <a href="#" class="list-group-item" onclick="addgroup('{{group.contact.all}}')">
                                    {{group.groupName}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <p>{{ form.message.label }}</p>
            <div class="input-group">
                <textarea type="text" class="form-control" id="id_message" name="message" rows="10"></textarea>
                <div class="input-group-btn">
                    <button class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                    Templates
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                        <label>Templates</label>
                        {% for template in template_list %}
                            <li role="presentation">
                                <a href="#"  onclick="addtemplate('{{template.msgText}}')"
                                value="{{template.msgText}}" >{{template.name}}</a>
                            </li>
                        {% endfor %}
                        <label>Creer un Nouveau</label>
                        <li role="presentation">
                            <a href="/template/" class="list-group-item">Creer un Template</a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            {% for d_obj in device_obj %}
                {% if username == d_obj.user.username %}
                    <input type="hidden" name="deviceID" id="id_deviceID" value="{{ d_obj.deviceID }}">
                {% endif %}
            {% endfor %}
            <input type="submit" value="Envoyer" class="btn btn-primary">
            <input type="reset"  value="Effacer" class="btn btn-danger">
        </form>
    </div>
    <div class="col-xs-6 col-lg-4">
    </div>
{% endblock %}