{% extends "base.html" %}

<!-- THIS IS FOR SUCCESS MESSAGES -->
{% if messages %}
<div class="alert alert-success">
	<div class="container">
    	{% for message in messages %}
    		{{ message }}
   		{% endfor %}
   	</div>
</div>
{% endif %}
<!-- END THIS IS FOR SUCCESS MESSAGES -->

{% block content %}
    <h4>Mes demandes</h4>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Message</th>
            <th>Statut</th>
            <th>Numero ID</th>
        </tr>
        </thead>
        <tbody>
        {% for m in messages %}
            <tr>
                <td>{{ m.date }}</td>
                <td>{{ m.message }}</td>
                {% if m.statut == 'En Cours' %}
                    <td><span class="label label-warning">{{ m.statut }}</span></td>
                {% else %}
                    <td><span class="label label-success">{{ m.statut }}</span></td>
                {% endif %}
                <td>ID:{{m.pk}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>Mes Réponses</h4>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Message</th>
            <th>Numero ID</th>
        </tr>
        </thead>
        <tbody>
        {% for m in response_messages %}
            <tr>
                <td>{{ m.date }}</td>
                <td>{{ m.message }}</td>
                <td>ID:{{m.pk}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h4>Créer un message</h4>
     <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
    	<input type="submit" value="Envoyer" class="btn btn-primary" />
    </form>
    <br />
    <hr />
    <br />
{% endblock %}
